.font-sports-display {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.font-sports-body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.auth-shell {
  background-image: url('/assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
